*{
    margin :0;
    padding: 0;
    font-family: : Century Gathic;
}
body{
    padding-top: 6%;
}
#Image-cropper{
    max-width: 1000px;
    height: auto;
    position: relative;
    overflow: hidden;
}


#profilePic button {
  border: none;
  outline: 0;
  padding: 12px;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

#profilePic button:hover {
  opacity: 0.7;
}
      
#profilePic{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 10%;
    margin: auto;
    background-color: #fff;
    text-align: center;
    font-family: arial;
    position: fixed;
    top: 8%;
    right: 0;    
    }

#attente{
    box-shadow: 0 px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 10%;
    margin: auto;
    background-color: #fff;
    text-align: center;
    font-family: arial;
    position: fixed;
    margin-top: 1px;
    right: 0;
        
    }

iframe{
    border: 1px solid black;
    width: auto;
    height: auto;
}

#Header{
    width: 15%;
    height: 25%;
    padding-top: 40px;
    background-image: url(font1.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}
canvas{
    background-image: url("./groupe.png");
    background-size: 100px 100px;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
}
.nav{
    
    height: 8%;
    background-color: black;
    text-align: center;
    color: white;
    font-size: 16pt;
    position: fixed;
    top: 0;
}
#nav1{
    color: white;
    background-color: black;
    width: 30%;
    display: inline-block;
    height: 5%;
    text-align: center;
}
#nav1:hover{
    color: white;
    background-color: grey;
    width: 30%;
    display: inline-block;
    height: 5%;
    text-align: center;
}
#nav2{
    color: white;
    background-color: black;
    width: 30%;
    display: inline-block;
    height: 5%;
    text-align: center;
}
#nav2:hover{
    color: white;
    background-color: grey;
    width: 30%;
    display: inline-block;
    height: 5%;
    text-align: center;
}
#nav3{
    color: white;
    background-color: black;
    width: 30%;
    display: inline-block;
    height: 5%;
    text-align: center;
}
#nav3:hover{
    color: white;
    background-color: grey;
    width: 30%;
    display: inline-block;
    height: 5%;
    text-align: center;
}
nav div a{
    margin-top: 10%;
    color: white;
    text-align: center;
}
#img{
    width: 50%;
}